h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  margin: 0 auto;
}

body {
  height: 100vh;
}

.header {
  height: 20vh;
  width: 100%;
  border: 2px green solid;
  border-radius: 5px;
}

.nav {
  height: 10vh;
  width: 100%;
  border: 2px purple solid;
  margin: 5px 0;
  border-radius: 5px;
}

main {
  height: 60vh;
  display: flex;
}

.div1 {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.div2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 2px yellow solid;
  border-radius: 5px;
  margin-left: 5px;
}

.article {
  height: 60vh;
  width: 100%;
  border: 2px blue solid;
  border-radius: 5px;
  position: relative;
}

.article header {
  height: 30px;
  width: 99.3%;
  border: 2px greenyellow solid;
  margin: 5px 2px;
  border-radius: 5px;
  position: absolute;
}

section {
  height: 30px;
  width: auto;
  border: 2px purple solid;
  margin: 2px 2px;
  border-radius: 5px;
  flex: 1 0 auto;
}

.inside {
  margin-top: 46vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inside footer {
  height: 15px;
  width: auto;
  border: 2px yellow solid;
  margin: 2px 2px;
  border-radius: 5px;
}

aside {
  height: 45%;
  border: 2px lightblue solid;
  margin: 2px 2px;
  border-radius: 5px;
  flex: 1 0 auto;
}

.footer {
  height: 7vh;
  width: auto;
  border: 2px yellow solid;
  margin: 5px auto;
  border-radius: 5px;
}

.div2 > h3 {
  margin: 0;
}
