.contenedor {
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
}

[required] {
  border: 1px solid red;
}

fieldset {
  background-color: rgb(224, 224, 224);
  padding: 1rem;
}

fieldset:hover {
  background-color: rgb(165, 165, 165);
}

fieldset:nth-child(odd) {
  border-bottom: black 5px solid;
}

button {
  background-color: black;
  color: white;
  border: none;
}
