body {
  margin: 0;
}

.cabecera {
  background-color: black;
  color: white;
  padding-bottom: 30px;
}

.principal {
  background-color: white;
  color: black;
  margin: 0 8.5%;
  padding: 15px 15px 25px 15px;
}
.modifymarging {
  margin-bottom: 5px;
  padding-top: 30px;
  margin-top: 0px;
  font-size: 40px;
}

.alinear {
  text-align: center;
  margin-left: 9.5%;
  margin-right: 9.5%;
}

.sizing {
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 36px;
}

.sizing2 {
  font-size: 20px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px black solid;
}

img {
  width: 100%;
}

.tamletra {
  font-size: 14px;
  color: black;
}

.modifyletter {
  font-size: 14.5px;
}

.parte1 {
  display: flex;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.size3 {
  font-size: 9.3px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 5px;
}

.boton {
  background-color: black;
  color: white;
  font-size: 9.3px;
  width: 70px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.colorfondo {
  background-color: gray;
  border: none;
}

@media (min-width: 769px) {
  .alinear {
    text-align: left;
  }
  .flexsize {
    display: flex;
    flex: 1 0 auto;
  }
  .principal {
    margin: 0 15%;
  }
  .flexsize1 {
    width: 40%;
    order: 2;
  }
  .flexsize2 {
    width: 60%;
    padding-right: 10px;
    order: 1;
  }
  .tamletra {
    font-size: 18px;
  }
  .sizing2 {
    font-size: 24px;
  }
  .size3 {
    font-size: 15px;
  }
}
