body {
  margin: 0;
  background-color: orange;
}

h1 {
  text-align: center;
  font-size: 90px;
  color: white;
}

.container1 {
  display: grid;
  grid-template-columns: 230px 250px 230px;
  column-gap: 25px;
  align-items: center;
  justify-content: center;
}

img[src^="image"] {
  width: 100px;
  border-radius: 50%;
}

img[src$=".png"] {
  width: 30px;
  padding: 5px;
}

.person1,
.person2,
.person3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

article {
  background-color: purple;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  padding-bottom: 10px;
}

.image {
  padding-top: 20px;
}

.person1:hover,
.person2:hover,
.person3:hover {
  transform: scale(1.05);
}

.aparicion {
  animation-name: aparicion;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes aparicion {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.aparicion1 {
  animation-name: aparicion1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes aparicion1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.aparicion2 {
  animation-name: aparicion2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes aparicion2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.aparicion3 {
  animation-name: aparicion3;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes aparicion3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
