td,
th,
caption {
  border: 1px black solid;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

table {
  border-right: 1px gray solid;
  border-top: 1px gray solid;
  border-left: 1px black solid;
  border-bottom: 1px black solid;
}

caption {
  margin: 2px;
  font-weight: bold;
}
